*.aux
*.fdb*
*.log
*.toc
*.out
*.fls
*.blg
*.bbl
*.synctex.gz
*.nav
*.snm
*.lof
*.lot
*.lol
*.xdv
*.pdf
*.dvi
*.ps
*.gz
*.vrb
*.ilg
*.ind
*.idx
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.loa
*.thm
*.bcf
*.run.xml